.site-margin-bottom-5px{
	margin-bottom: 5px;
}

.site-margin-top-5px{
	margin-top: 5px;
}

.site-margin-left-5px{
	margin-left: 5px;
}

.site-margin-right-5px{
	margin-right: 5px;
}

.site-cardSpacer{
	margin-top: 5px;
	margin-left: 5px;
}

.site-centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto 
}